<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                             <img src="images/logo.png" alt="Piyush" class="img-fluid" title="Piyush">
                        </figure>
                       
                           
                     </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Hi, I am Piyush. Welcome to my weather application!!
                        </p>
                        <h1>I am a <span class="text_clr">MERN</span> stack developer.</h1>
                        <a href=""><button>about me</button></a>
                    </div>
                    <!-- right side div -->
                    
                </div>
            </div>
        </div>
    </div>
    
    <!-- footer code -->
    {{>footer}}

</body>
</html>